<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="static/images/icons8-беговые-лыжи-48.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Getaway Holidays</title>
    
</head>
<body>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Getaway Holidays</strong>
          </a>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5555/home">Домой</a>
            <a class="nav-link" href="http://127.0.0.1:5555/contact">Контакты</a>
            <a class="nav-link" href="http://127.0.0.1:5555/package">Акции</a>
          </nav>
          </button>
        </div>
      </div>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Getaway Holidays</h1>
            <p class="lead text-muted">Дорогие друзья! Спасибо, что провели с нами еще один прекрасный горнолыжный сезон! 
                Мы ценим ваш выбор и стараемся быть лучше для каждого из вас! Мы уже начали подготовку к следующему сезону, 
                и обещаем порадовать вас новинками и сюрпризами.</p>
            <p>
              <a href="http://127.0.0.1:5555/contact" class="btn btn-primary my-2">Подробнее</a>
              <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
            </p>
          </div>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
            
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/ddd3a767-58c5-786c-a459-8fa799a7f275.jpeg"></p>
                <div class="card-body">
                  <p class="card-text">Катание на бобслейных санках</p>
                  <p class="card-text">Предлагаем активный отдых на нашем объекте. Безопасный способ получить выброс адреналина на санно-бобслейной трассе.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/ae576bcb-c499-e772-0ed0-a0cf3dbb5b4a.jpeg"></p>
                <div class="card-body">
                  <p class="card-text">Катание на коньках и на сноуборде</p>
                  <p class="card-text">Широкие трассы любого уровня сложности, внетрассовые зоны для фрирайдеров, отлично оборудованные сноупарки для фристайла и новейшая система искусственного оснежения.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/5635aacc-f87d-7901-a2f7-e2449730fa8c.png"></p>
                <div class="card-body">
                  <p class="card-text">Катание на горных велосипедах по снегу</p>
                  <p class="card-text">Широкие трассы любого уровня сложности отлично подойдут для спуска на горных велосипеедах по снегу!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/c20f046e-d523-e2e2-7299-8416789256cb.jpeg"></p>
                <div class="card-body">
                  <p class="card-text">Спа-процедуры</p>
                  <p class="card-text">Профессиональные СПА процедуры как в лучших СПА центрах. Позвольте себе насладиться полным спектром услуг SPA.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/d77b7bef-cd00-36c8-01de-134bab737873.jpg"></p>
    
                <div class="card-body">
                  <p class="card-text">Уроки катания на лыжах/сноуборде</p>
                  <p class="card-text">Наша горнолыжная школа предлагает индивидуальные и групповые тренировки по направлениям «горные лыжи» и «сноуборд»</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/d28c84e4-da6d-a597-8550-17b34e2965d3.jpeg"></p>
    
                <div class="card-body">
                  <p class="card-text">Обслуживание лыж/сноубордов</p>
                  <p class="card-text">Наша многопрофильная ремонтная мастерская,специализируется на повреждениях различной степени сложности, а также предоставляет комплексное обслуживание</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/prokat.jpeg"></p>
    
                <div class="card-body">
                  <p class="card-text">Прокат оборудования</p>
                  <p class="card-text"> Вы можете взять в прокат сноуборды и лыжи любых размеров и для любых уровней катания</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/family.jpeg"></p>
    
                <div class="card-body">
                  <p class="card-text">Акции!</p>
                  <p class="card-text">Чтобы узнать подробнее об пакетах и акциях, переходите по ссылке!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <p><img class="bd-placeholder-img card-img-top"  src="static/images/family2.jpeg"></p>
    
                <div class="card-body">
                  <p class="card-text">Пакеты!</p>
                  <p class="card-text">Чтобы узнать подробнее об пакетах и акциях, переходите по ссылке!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'http://127.0.0.1:5555/package';">Подробнее</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>